<li class="has-sub">
    <a href="#">
        <i class="fa-calculator"></i>
        <span class="title">交易明细</span>
    </a>
    <ul>
        <li>
            <a iframe href="{{ path('admin_transaction_soldoutbooth') }}">
                已售展位
            </a>
        </li>
        <li>
            <a iframe href="{{ path('admin_transaction_boothorder') }}">
                订单管理
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="#">
        <i class="fa-rss"></i>
        <span class="title">预订审核</span>
    </a>
    <ul>
        <li>
            <a iframe href="{{ path('admin_booking') }}">
                预订管理
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="#">
        <i class="fa-sitemap"></i>
        <span class="title">展会管理</span>
    </a>
    <ul>
        <li>
            <a iframe href="{{ path('admin_tradefair_index') }}">
                展会列表
            </a>
        </li>
        <li>
            <a iframe href="{{ path('admin_booth_category') }}">
                展位分类
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="#">
        <i class="fa-users"></i>
        <span class="title">用户管理</span>
    </a>
    <ul>
        <li>
            <a iframe href="{{ path('admin_member_index') }}">
                会员粉丝
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="#">
        <i class="fa-key"></i>
        <span class="title">权限管理</span>
    </a>
    <ul>
        <li>
            <a iframe href="{{ path('admin_booth_verificationuser') }}">
                核销人员
            </a>
        </li>
        <li>
            <a iframe href="{{ path('admin_manager_index') }}">
                管理员
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="#">
        <i class="fa-cogs"></i>
        <span class="title">系统设置</span>
    </a>
    <ul>
        <li>
            <a iframe href="{{ path('admin_agreement_edit') }}">
                展位协议
            </a>
        </li>
        <li>
            <a iframe href="{{ path('admin_customer_edit') }}">
                客服电话
            </a>
        </li>
    </ul>
</li>